@model FindFolks.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>FindFolks</h1>
        <p class="lead">FindFolks is an application to organize groups of people with common interests, announce events these groups are hosting, and gather feedback on the events.</p>
        <p><a href="@Url.Action(MVC.Account.Register())" class="btn btn-primary btn-lg">Sign up today &raquo;</a> <a href="@Url.Action(MVC.Account.Login())" class="btn btn-success btn-lg">Already signed up? Login here &raquo;</a></p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Hello, @Model.FirstName!</h1>
        <p class="lead">You have @Model.UpcomingUserEvents.Count() events coming up.</p>
        <div class="row">
            <div class="col-md-6">
                <h3>Groups you are in:</h3>
                @if (Model.UserGroups.Count() == 0)
                {
                    <h4>You aren't a part of any group yet! Why not join one, or create one?</h4>
                }
                else
                {
                    <div class="list-group">
                        @foreach (var group in Model.UserGroups)
                        {
                            <a class="list-group-item" href="@Url.Action("Info", "Groups", new { id = group.GroupId })">@group.GroupName</a>
                        }
                    </div>
                }
            </div>
            <div class="col-md-6">
                <h3>Events coming up for you:</h3>
                @if (Model.UpcomingUserEvents.Count() == 0)
                {
                    <h4>None!</h4>
                }
                else
                {
                    <div class="list-group">
                        @foreach (var e in Model.UpcomingUserEvents)
                        {
                            <a class="list-group-item" href="#">@e.Title</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <h3>Global upcoming events in the next three days:</h3>
        @if (Model.UpcomingEvents == null || Model.UpcomingEvents.Count() == 0)
        {
            <h4>There are currently no upcoming events.</h4>
        }
        else
        {
            <ul class="list-group">
                @foreach (var e in Model.UpcomingEvents)
                {
                    <li class="list-group-item">@e.Start.ToShortDateString(): @e.Title</li>
                }
            </ul>
        }
    </div>
    <div class="col-md-6">
        <h3>Interests that might interest you:</h3>
        <div class="list-group">
            @foreach (var i in Model.Interests)
            {
                <a href="@Url.Action("Groups", "Interest", i)" class="list-group-item">@i.Category: @i.Keyword <span class="pull-right"><i class="fa fa-angle-right fa-fw"></i></span></a>
            }
        </div>
    </div>
</div>