@model FindFolks.Models.CurrentUserViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>@Model.FirstName @Model.LastName <small>@Model.Username</small></h2>
@if (User.Identity.IsAuthenticated)
{
    <span class="pull-right">
        @if (!Model.CurrentUser && !Model.IsFriend)
        {
            using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("UserName", Model.Username)
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus fa-fw"></i> Add to friends</button>
            }
        }
        else if (!Model.CurrentUser && Model.IsFriend)
        {
            using (Html.BeginForm("RemoveFriend", "User", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("UserName", Model.Username)
                <button type="submit" class="btn btn-danger"><i class="fa fa-user-times fa-fw"></i> Remove from friends</button>
            }
        }
    </span>
}

<h4><i class="fa fa-location-arrow fa-fw"></i> Located in @Model.ZipCode</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.FirstName's friends</h3>
            </div>
            <div class="panel-body">temp</div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Events attended in the last week</h3>
            </div>
            <div class="panel-body">temp</div>
        </div>
    </div>
</div>