@model FindFolks.Models.CreateGroupModel
@{
    ViewBag.Title = "CreateGroup";
}

<h2>CreateGroup</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateGroup", "Groups", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Group name, like \"Squirrel Enthusiasts\"" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.Category, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Keyword, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create group!</button>
            </div>
        }
    </div>
</div>
