@model FindFolks.Models.EventInfoModel
@{
    ViewBag.Title = @Model.Title;
}


@{
    var RatingList = new List<SelectListItem>();
    for (int i = 0; i <= 5; i++)
    {
        RatingList.Add(new SelectListItem()
            {
                Text = i.ToString(),
                Value = i.ToString()
            });
    }
}
<h2>@Model.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4><i class="fa fa-calendar fa-fw"></i> @Model.Start.ToString()</h4>
        <h4><i class="fa fa-info-circle fa-fw"></i> @Model.Description</h4>
        <h4><i class="fa fa-map-pin fa-fw"></i> @Model.Location in @Model.ZipCode</h4>
        <h4><a href="@Url.Action("Info", "Groups", new { Id = Model.GroupId })"><i class="fa fa-group fa-fw"></i> @Model.GroupName</a></h4>
        @if (User.Identity.IsAuthenticated && !Model.Attending)
        {
            using (Html.BeginForm("SignUp", "Events", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("EventId", Model.Id)
                @Html.Hidden("UserId", Model.UserId)
                <button class="btn btn-info" type="submit">Sign up!</button>
            }
        }
        @if (Model.Attending && Model.Start <= DateTime.Now)
        {
            using (Html.BeginForm("UpdateRating", "Events", FormMethod.Post, new { role = "form", @id = "RatingForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("EventId", Model.Id)
                @Html.Hidden("UserId", Model.UserId)
                @Html.LabelFor(m => m.Rating, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Rating, RatingList, new { @class = "form-control", @id = "RatingFormDropdown" })
            }
        }

    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Attendees</h3>
            </div>
            <div class="list-group">
                @foreach (var m in Model.Attendees)
                {
                    <a class="list-group-item" href="@Url.Action("Index", "User", new { Id = m.UserName })">
                        <h4>@m.FirstName @m.LastName</h4>
                        <p>@m.UserName</p>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#RatingFormDropdown').change(function () {
        $('#RatingForm').submit();
    });
</script>